body {
  background: #fff;
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

p {
  margin: 0 0 10px;
}

input {
  margin-bottom: 10px;
}

.btn-lg {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 50px 20px 50px;
}
